# Compiled bytecode
/target/

# Log files
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Gradle
build/
.gradle/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled Java classes
*.class

# Package files
*.jar
*.war
*.ear

# Temporary files
*.swp

# Spring Boot specific
.springBeans
